<h6 class="content-block">Дома</h6>
<div class="dx-card content-block responsive-paddings">

  <dx-popup
    width="100%"
    height="100%"
    [showTitle]="false"
    title="Information"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <div>
        <ng-template *ngTemplateOutlet="table"></ng-template>
      </div>
    </div>
  </dx-popup>
  <div>
    <ng-template *ngTemplateOutlet="table">
    </ng-template>
  </div>
  <ng-template #table>
    <dx-data-grid id="gridContainer"
                  [(filterValue)]="filter"
                  [dataSource]="dataSource"
                  [height]="height"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  [allowColumnResizing]="true"
                  [allowColumnReordering]="true"
                  columnResizingMode="widget"
                  [showBorders]="true"
                  [showColumnLines]="true"
                  [wordWrapEnabled]="true"
    >
      <dxo-state-storing [enabled]="true" type="localStorage"
                         storageKey="house-table-state"></dxo-state-storing>
      <dxo-scrolling showScrollbar="always">

      </dxo-scrolling>
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-column-chooser [enabled]="true" mode="dragAndDrop"></dxo-column-chooser>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20, 50]"
        [showInfo]="true">
      </dxo-pager>
      <dxo-remote-operations
        [groupPaging]="true">
      </dxo-remote-operations>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-filter-row
        [visible]="true"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="true" [allowSearch]="true"></dxo-header-filter>
      <dxi-column
        dataField="id"
        [allowHiding]="false"
        width="80"
        dataType="number"
        cellTemplate="idCellTemplate"
        [fixed]="true"
      >
      </dxi-column>
      <dxi-column
        caption="Район"
        dataField="address.area"
        width="200"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Город"
        dataField="address.city"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Улица"
        dataField="address.street"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Дом"
        dataField="number"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Включен в рег программу"
        dataField="included_in_the_regional_program"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column caption="Организация">
        <dxi-column
          caption="Наименование"
          dataField="organization.name"
          width="300"
          dataType="string"
        ></dxi-column>
        <dxi-column
          caption="ИНН"
          dataField="organization.inn"
          width="200"
          dataType="string"
        ></dxi-column>
        <dxi-column
          caption="ОГРН"
          dataField="organization.ogrn"
          width="200"
          dataType="string"
        ></dxi-column>
        <dxi-column
          caption="Тип"
          dataField="organization.type.text"
          width="100"
          dataType="string"
        ></dxi-column>
      </dxi-column>
      <dxi-column
        caption="Дата включения в рег программу"
        dataField="date_of_inclusion"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Год постройки"
        dataField="year_of_building"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Количество квартир"
        dataField="number_of_apartments"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Общая площадь"
        dataField="total_area"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Общая площадь жилых помещений"
        dataField="residential_premises_area"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <dxi-column
        caption="Общая площадь нежилых помещений"
        dataField="nonresidential_premises_area"
        width="230"
        dataType="string"
      >
      </dxi-column>
      <div *dxTemplate="let cell of 'idCellTemplate'">
        <a [routerLink]="['/pages/houses', cell.text]">{{ cell.text }}</a>
      </div>
      <dxo-filter-panel [visible]="true"></dxo-filter-panel>
      <dxo-summary>
        <dxi-total-item
          column="address.area"
          summaryType="count">
        </dxi-total-item>
      </dxo-summary>

      <dxo-export [enabled]="true"></dxo-export>
    </dx-data-grid>

  </ng-template>

</div>
