<h6 class="content-block">Пользователи</h6>
<div class="dx-card content-block responsive-paddings">


  <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [filterValue]='["is_active", "=", false]'
  >
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="currentFilter"></dxo-filter-row>
    <dxo-header-filter
      [visible]="true"></dxo-header-filter>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxi-column
      dataField="id"
      width="100"
      cellTemplate="idCellTemplate"
      dataType="number"
    >
    </dxi-column>
    <dxi-column
      caption="Активность"
      dataField="is_active"
      width="200"
      dataType="boolean"
      cellTemplate="isActiveCellTemplate"
    >
    </dxi-column>
    <dxi-column
      caption="Логин"
      dataField="username"
      width="200"
      dataType="string"
    >
    </dxi-column>
    <dxi-column
      caption="Эл. почта"
      dataField="email"
      width="230"
      dataType="string"
    >
    </dxi-column>

    <dxi-column caption="Организация">
      <dxi-column
        caption="Наименование"
        dataField="organization.name"
        width="300"
        dataType="string"
      ></dxi-column>
      <dxi-column
        caption="ИНН"
        dataField="organization.inn"
        width="200"
        dataType="string"
      ></dxi-column>
      <dxi-column
        caption="ОГРН"
        dataField="organization.ogrn"
        width="200"
        dataType="string"
      ></dxi-column>
      <dxi-column
        caption="Тип"
        dataField="organization.type.text"
        width="100"
        dataType="string"
      ></dxi-column>
    </dxi-column>
    <div *dxTemplate="let cell of 'idCellTemplate'">
      <a [routerLink]="['/pages/users', cell.text]">{{ cell.text }}</a>
    </div>
    <div *dxTemplate="let cell of 'isActiveCellTemplate'">
      <dx-check-box [value]="cell.value" (valueChange)="userActivityChange($event, cell)"></dx-check-box>
    </div>
    <dxo-summary>
      <dxi-total-item
        column="id"
        summaryType="count">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>


</div>
