<h6 class="content-block">Сведения о поступлении взносов</h6>
<div class="dx-card content-block responsive-paddings">


  <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                [height]="height"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                (onExporting)="onExporting($event)"
                (onRowPrepared)="onRowPrepared($event)"
                [allowColumnResizing]="true"
                [allowColumnReordering]="true"
                columnResizingMode="widget"
                [showBorders]="true"
                [showColumnLines]="true"
                [wordWrapEnabled]="true"
  >
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="conrib-info-table-state"></dxo-state-storing>
    <dxo-scrolling showScrollbar="always">

    </dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-column-chooser [enabled]="true" mode="dragAndDrop"></dxo-column-chooser>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20, 50]"
      [showInfo]="true">
    </dxo-pager>
    <dxo-remote-operations
      [groupPaging]="true">
    </dxo-remote-operations>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row
      [visible]="true"
      [applyFilter]="currentFilter"></dxo-filter-row>
    <dxo-header-filter
      [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxi-column
      dataField="id"
      [allowHiding]="false"
      width="80"
      dataType="number"
      cellTemplate="idCellTemplate"
      [fixed]="true"
    >
    </dxi-column>
    <dxi-column
      width="170"
      caption="Статус"
      dataField="status.text"
      dataType="string">
    </dxi-column>
    <dxi-column
      caption="Дата"
      width="100"
      dataField="date"
      dataType="date">
    </dxi-column>
    <dxi-column caption="Многоквартирный дом">
      <dxi-column
        width="210"
        caption="Наименование муниципального района (городского округа)"
        dataField="notify.house.address.area"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="200"
        caption="Населенный пункт"
        dataField="notify.house.address.city"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="200"
        caption="Улица (переулок, проспект)"
        dataField="notify.house.address.street"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="100"
        caption="Дом / корпус"
        dataField="notify.house.number"
        dataType="string">
      </dxi-column>
      <dxi-column caption="Региональная программа капитального ремонта">
        <dxi-column
          width="100"
          caption="Включен в региональную программу"
          dataField="notify.house.included_in_the_regional_program"
          dataType="string">
        </dxi-column>
        <dxi-column
          width="100"
          caption="Дата включения в региональную программу"
          dataField="notify.house.date_of_inclusion"
          dataType="string">
        </dxi-column>
      </dxi-column>
      <dxi-column caption="Информация из реестра лицензий">
        <dxi-column
          width="200"
          caption="Название организации"
          dataField="notify.house.organization.name"
          dataType="string">
        </dxi-column>
        <dxi-column
          width="130"
          caption="ИНН организации"
          dataField="notify.house.organization.inn"
          dataType="string">
        </dxi-column>
      </dxi-column>
    </dxi-column>
    <dxi-column caption="Владелец специального счета">
      <dxi-column
        width="200"
        caption="Название организации"
        dataField="notify.organization.name"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="130"
        caption="ИНН организации"
        dataField="notify.organization.inn"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="120"
        caption="Тип организации"
        dataField="notify.organization.type.text"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="120"
        caption="Равен организации из реестра лицензий"
        dataField="notify.same_organization_in_license_registry"
        dataType="string">
      </dxi-column>
    </dxi-column>
    <dxi-column caption="Кредитная организация, в которой открыт специальный счет">
      <dxi-column
        width="200"
        caption="Наименование юридического лица"
        dataField="notify.bank.name"
        dataType="string">
      </dxi-column>
      <dxi-column
        width="130"
        caption="ИНН"
        dataField="notify.bank.inn"
        dataType="string">
      </dxi-column>
    </dxi-column>
    <dxi-column caption="Специальный счет">
      <dxi-column
        width="200"
        caption="Номер"
        dataField="notify.account_number"
        dataType="string">
      </dxi-column>

      <dxi-column
        width="200"
        caption="Дата открытия"
        dataField="notify.account_opening_date"
        dataType="date">
      </dxi-column>
    </dxi-column>

    <dxi-column
      width="150"
      caption="Ежемесячный размер взноса на капитальный ремонт, руб/кв.м"
      dataField="notify.monthly_contribution_amount"
      dataType="number">
    </dxi-column>
    <dxi-column
      width="200"
      caption="Реквизиты протокола общего собрания собственников помещений в многоквартирном доме"
      dataField="notify.protocol_details"
      dataType="string">
    </dxi-column>
    <dxi-column caption="Сведения о поступлении взносов">
      <dxi-column caption="Начислено взносов (без учета пеней), рублей">
        <dxi-column
          width="150"
          caption="всего"
          dataField="assessed_contributions_total"
          dataType="number">
        </dxi-column>
        <dxi-column
          width="150"
          caption="из них за отчетный период"
          dataField="assessed_contributions_current"
          dataType="number">
        </dxi-column>
      </dxi-column>
      <dxi-column caption="Объем поступивших взносов (без учета пеней), рублей">
        <dxi-column
          width="150"
          caption="всего"
          dataField="received_contributions_total"
          dataType="number">
        </dxi-column>
        <dxi-column
          width="150"
          caption="из них за отчетный период"
          dataField="received_contributions_current"
          dataType="number">
        </dxi-column>
      </dxi-column>
      <dxi-column
        width="150"
        caption="Задолженность (+), переплата (-) по уплате собственниками помещений взносов на капитальный ремонт на конец отчетного периода, рублей"
        dataField="delta_total"
        dataType="number">
      </dxi-column>
      <dxi-column
        width="150"
        caption="Сведения о размере израсходованных средств на капитальный ремонт со специального счета, рублей"
        dataField="funds_spent"
        dataType="number">
      </dxi-column>
      <dxi-column
        width="200"
        caption="Сведения о заключении договора займа и (или) кредитного договора на проведение капитального ремонта (номер договора, наименование кредитной организации, сумма кредита (займа), рублей"
        dataField="credit"
        dataType="number">
      </dxi-column>
      <dxi-column
        width="150"
        caption="Сведения о размере средств, находящихся на специальном депозите, рублей"
        dataField="funds_on_special_deposit"
        dataType="number">
      </dxi-column>
      <dxi-column
        width="150"
        caption="Остаток средств фонда капитального ремонта на специальном счете на конец отчетного периода (с учетом ДЕПОЗИТА), рублей"
        dataField="fund_balance"
        dataType="number">
      </dxi-column>
    </dxi-column>
    <dxi-column
      width="200"
      caption="Ошибки"
      dataField="mistakes__text"
      [calculateCellValue]="fullNameColumn_calculateCellValue"
      dataType="string">
    </dxi-column>
    <dxi-column
      width="200"
      caption="Комментарий"
      dataField="comment"
      dataType="string">
    </dxi-column>
    <dxi-column *ngIf="comment_visibility"
                width="200"
                caption="Комментарий2"
                dataField="comment2"
                dataType="string">
    </dxi-column>

    <div *dxTemplate="let cell of 'idCellTemplate'">
      <a [routerLink]="['/pages/contrib-info/', cell.text]">{{ cell.text }}</a>
    </div>
    <div *dxTemplate="let cell of 'mistakesCellTemplate'">
      <div>
        <span *ngFor="let item of cell.value">
          {{ item.text }}.
        </span>
      </div>

    </div>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-summary>
      <dxi-total-item
        column="status.text"
        summaryType="count">
      </dxi-total-item>
    </dxo-summary>

    <dxo-export [enabled]="true"></dxo-export>
  </dx-data-grid>


</div>
