<dx-form #form>
  <dxi-item
    dataField="address"
    [template]="'addressTemplate'">
    <dxo-label text="Муниципальный район, город, улица">

    </dxo-label>
    <dxi-validation-rule
      type="custom"
      [validationCallback]="isNotNull"
      message="Адрес обязателен для заполнения">
    </dxi-validation-rule>
  </dxi-item>
  <div *dxTemplate="let data of 'addressTemplate'">
    <dx-select-box [dataSource]="addresses" [displayExpr]="displayExpr"
                   searchEnabled="true" [value]="value.address" (valueChange)="addressChange($event)"></dx-select-box>
  </div>

  <dxi-item #houseAutocomplete
    dataField="number"
    editorType="dxAutocomplete"
  [editorOptions]="{dataSource:houses, value:value.number, valueChange:houseChange,
                     searchExpr: 'number', valueExpr: 'number'}">
    <dxo-label text="Номер дома">
    </dxo-label>
    <dxi-validation-rule
      type="required"
      message="Номер дома обязателен для заполнения">
    </dxi-validation-rule>
  </dxi-item>

</dx-form>

