<h2 class="content-block"></h2>
<div class="dx-card content-block responsive-paddings">
  <a (click)="back()">Назад</a>
  <form (submit)="onFormSubmit($event)" method="post" enctype="multipart/form-data">
    <dx-form #form
             id="form"
             [(formData)]="user"
    >

      <dxi-item dataField="id" [editorOptions]="{ disabled: true }">
        <dxo-label text="Номер">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="is_active" editorType="dxCheckBox">

        <dxo-label text="Активность">
        </dxo-label>
      </dxi-item>

      <dxi-item dataField="username">
        <dxo-label text="Логин">
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="password">
        <dxo-label text="Пароль">
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="re_password">
        <dxo-label text="Подтверждение пароля">
        </dxo-label>
      </dxi-item>
      <dxi-item dataField="email">
        <dxo-label text="Электронная почта">
        </dxo-label>
      </dxi-item>
      <dxi-item
        dataField="organization"
        [template]="'orgTemplate'">
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>
      <div *dxTemplate="let data of 'orgTemplate'">
        <app-organization-select #organization_select [(value)]="user.organization"

        ></app-organization-select>
      </div>

      <dxi-item
        dataField="groups"
        [template]="'groupsTemplate'">
        <dxo-label text="Группы"></dxo-label>
      </dxi-item>
      <div *dxTemplate="let data of 'groupsTemplate'">
        <dx-list
          [dataSource]="groupsDataSource"
          selectionMode="all"
          [showSelectionControls]="true"
          [(selectedItems)]="user.groups"
          displayExpr="name">

        </dx-list>

      </div>

      <dxo-label [visible]="false"></dxo-label>


    </dx-form>

    <div class="buttons-line">
      <dx-button type="success" text="Сохранить" [width]="150"
                 (onClick)="onFormSubmit($event)"></dx-button>


      <dx-button type="danger" text="Удалить" [width]="150"
                 (onClick)="delete($event)"></dx-button>

    </div>
  </form>
</div>
