<div class="user-panel">
    <div class="user-info">
        <div class="image-container">
            <div class="dx-icon dx-icon-user"></div>
        </div>
        <div class="user-name" *ngIf="auth.current_user">{{ this.auth.current_user.username }}</div>
    </div>
    <dx-context-menu
        *ngIf="menuMode === 'context'"
        [items]="menuItems"
        target=".user-button"
        showEvent="dxclick"
        width="170px"
        [position]="{ my: 'top center', at: 'bottom center' }"
        cssClass="user-menu">
    </dx-context-menu>
    <dx-list
        *ngIf="menuMode === 'list'"
        class="dx-toolbar-menu-action"
        [items]="menuItems">
    </dx-list>
</div>
