<dx-form #form>
  <dxi-item
    dataField="branch"
    [template]="'branchTemplate'">
    <dxo-label text="Филиал кредитной организации">

    </dxo-label>
<dxi-validation-rule
        type="custom"
        [validationCallback]="isNotNull"
        message="Филиал кредитной организации обязателен для заполнения123">
      </dxi-validation-rule>
  </dxi-item>
  <div *dxTemplate="let data of 'branchTemplate'">
    <dx-select-box [dataSource]="branches" [displayExpr]="branchDisplayExpr" class="dx-invalid"
                   searchEnabled="true" [value]="value" (valueChange)="branchChange($event)">
      <dx-validator>

      </dx-validator>
    </dx-select-box>
  </div>
</dx-form>
