<h2 class="content-block"></h2>
<div class="dx-card content-block responsive-paddings">
  <a (click)="back()">Назад</a>
  <form (submit)="onFormSubmit($event)" method="post" enctype="multipart/form-data">
    <dx-form #form
             id="form"
             [(formData)]="contrib_info"
    >

      <dxi-item dataField="id" [editorOptions]="{ disabled: true }">
        <dxo-label text="Номер">
        </dxo-label>
      </dxi-item>


      <dxi-item dataField="date" editorType="dxDateBox" [disabled]="dateIsReadOnly"
                [editorOptions]="{width: 200, dateSerializationFormat: 'yyyy-MM-dd'}">
        <dxi-validation-rule
          type="required"
          message="Дата внесения записи обязательна для заполнения">
        </dxi-validation-rule>
        <dxo-label text="Дата внесения записи"></dxo-label>
      </dxi-item>
      <dxi-item
        dataField="notify"
        editorType="dxSelectBox"
        [editorOptions]="{ dataSource:contribInfoDataSource, displayExpr:displayExpr,
        searchEnabled:true, placeholder: 'Введите номер счета, адрес дома или номер уведомления',
        showDataBeforeSearch:true}">
        <dxo-label text="Уведомление">

        </dxo-label>
      </dxi-item>
      <dxi-item itemType="group" caption="Начислено взносов (без учета пеней), рублей">
        <dxi-item dataField="assessed_contributions_total" editorType="dxNumberBox" [editorOptions]="{step:0}">
          <dxo-label text="всего"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="Обязательно для заполнения">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="assessed_contributions_current" editorType="dxNumberBox" [editorOptions]="{step:0}">
          <dxo-label text="из них за отчетный период"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="Обязательно для заполнения">
          </dxi-validation-rule>
        </dxi-item>
      </dxi-item>

      <dxi-item itemType="group" caption="Объем поступивших взносов (без учета пеней), рублей">
        <dxi-item dataField="received_contributions_total" editorType="dxNumberBox" [editorOptions]="{step:0}">
          <dxo-label text="всего"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="Обязательно для заполнения">
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="received_contributions_current" editorType="dxNumberBox" [editorOptions]="{step:0}">
          <dxo-label text="из них за отчетный период"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="Обязательно для заполнения">
          </dxi-validation-rule>
        </dxi-item>
      </dxi-item>


      <dxi-item
        [template]="'testTemplate'">
        <dxo-label text="Задолженность (+), переплата (-) по уплате собственниками помещений взносов на капитальный ремонт на конец отчетного периода, рублей">

        </dxo-label>
      </dxi-item>
      <div *dxTemplate="let data of 'testTemplate'">
        <dx-number-box [value]="delta" [step]="0"></dx-number-box>
      </div>

      <dxi-item dataField="funds_spent" editorType="dxNumberBox" [editorOptions]="{step:0}">
        <dxo-label
          text="Сведения о размере израсходованных средств на капитальный ремонт со специального счета, рублей"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="Обязательно для заполнения">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="credit" editorType="dxNumberBox" [editorOptions]="{step:0}">
        <dxo-label
          text="Сведения о заключении договора займа и (или) кредитного договора на проведение капитального ремонта (номер договора, наименование кредитной организации, сумма кредита (займа), рублей"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="Обязательно для заполнения">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="funds_on_special_deposit" editorType="dxNumberBox" [editorOptions]="{step:0}">
        <dxo-label text="Сведения о размере средств, находящихся на специальном депозите, рублей"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="Обязательно для заполнения">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="fund_balance" editorType="dxNumberBox" [editorOptions]="{step:0}">
        <dxo-label
          text="Остаток средств фонда капитального ремонта на специальном счете на конец отчетного периода (с учетом ДЕПОЗИТА), рублей"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="Обязательно для заполнения">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="comment" editorType="dxTextArea" [editorOptions]="{ height: 90 }">
        <dxo-label text="Комментарий"></dxo-label>
      </dxi-item>

      <dxi-item dataField="comment2" editorType="dxTextArea" [editorOptions]="{ height: 90 }"
                *ngIf="comment_visibility">
        <dxo-label text="Комментарий(виден только сотрудникам)"></dxo-label>
      </dxi-item>


    </dx-form>


    <div>

      <div class="dx-fileuploader-files-container">
        <div *ngFor="let f of contrib_info.files" class="dx-fileuploader-file-container">
          <div class="dx-fileuploader-button-container">
            <div
              class="dx-fileuploader-button dx-fileuploader-cancel-button dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-icon"
              role="button" aria-label="close" tabindex="0" (click)="fileDelete(f)">
              <div class="dx-button-content"><i class="dx-icon dx-icon-close"></i></div>
            </div>
          </div>
          <div class="dx-fileuploader-button-container">
            <div
              class="dx-fileuploader-button dx-fileuploader-upload-button dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-icon"
              role="button" aria-label="upload" tabindex="0">
              <div class="dx-button-content"><a href="{{ f.datafile }}"><i class="dx-icon dx-icon-download"></i></a>
              </div>
            </div>
          </div>
          <div class="dx-fileuploader-file">
            <div class="dx-fileuploader-file-info">
              <div class="dx-fileuploader-file-name" style="max-width: 876.719px;">{{ f.name }}
              </div>
              <!--<div class="dx-fileuploader-file-size">{{ f.size | filesize }}</div>-->
            </div>
            <div class="dx-fileuploader-file-status-message">{{ f.size | filesize }}</div>
          </div>
        </div>
      </div>
    </div>


    <dx-file-uploader *ngIf="saveButtonVisibility" name="file" [uploadUrl]="uploadUrl"
                      [uploadHeaders]="{'Authorization': uploadAuthorization}"

                      (onUploaded)="onUploaded($event)" [showFileList]="true" [maxFileSize]="200*1024*1024"
                      [multiple]="true">

    </dx-file-uploader>
    <div *ngIf="mistakes_visibility">


      <span class="dx-form-group-caption">Ошибки в заполнении формы</span>
      <div>
        <div class="dx-fileuploader-files-container">
          <div *ngFor="let f of contrib_info.mistakes" class="dx-fileuploader-file-container">
            <div class="dx-fileuploader-button-container">
              <div *ngIf="comment_visibility"
                   class="dx-fileuploader-button dx-fileuploader-cancel-button dx-button dx-button-normal dx-button-mode-contained dx-widget dx-button-has-icon"
                   role="button" aria-label="close" tabindex="0" (click)="mistakeDelete(f)">
                <div class="dx-button-content"><i class="dx-icon dx-icon-close"></i></div>
              </div>
            </div>
            <div class="dx-fileuploader-file">
              <div class="dx-fileuploader-file-info">
                <div class="dx-fileuploader-file-name" style="max-width: 876.719px; color: red">{{ f.text }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <dx-select-box #mistakes *ngIf="comment_visibility" [dataSource]='mistakesDataSource' displayValue="text"
                       placeholder="Выбрать вид ошибки"
                       displayExpr="text" (selectedItemChange)="onMistakeSelected($event)"></dx-select-box>
      </div>
    </div>

    <div class="buttons-line">
      <dx-button *ngIf="saveButtonVisibility" type="success" text="Сохранить" [width]="150"
                 (onClick)="onFormSubmit(SubmitType.Saving)"></dx-button>
      <dx-button *ngIf="sendForApprovalButtonVisibility" type="success" text="Отправить" [width]="150"
                 (onClick)="onFormSubmit(SubmitType.Sending)"></dx-button>
      <dx-button *ngIf="acceptButtonVisibility" type="success" text="Согласовать" [width]="150"
                 (onClick)="onFormSubmit(SubmitType.Accepting)"></dx-button>
      <dx-button *ngIf="rejectButtonVisibility" type="danger" text="Вернуть" [width]="150"
                 (onClick)="onFormSubmit(SubmitType.Rejecting)"></dx-button>
      <dx-button type="danger" text="Акт" [width]="150"
                 (onClick)="act()"></dx-button>

    </div>
  </form>
</div>
