<dx-validation-group>
  <div class="login-header">
    <div class="title">Регистрация</div>

  </div>
  <div class="dx-field">
    <div class="dx-field-label">Логин</div>
    <dx-text-box [(value)]="user.username" placeholder="Логин" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите логин"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Электронная почта</div>
    <dx-text-box [(value)]="user.email" placeholder="Электронная почта" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите электронную почту"></dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          message="Введите корректную электронную почту">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="async"
          message="Данная электронная почта уже используется"
          [validationCallback]="isEmailUsed">
        </dxi-validation-rule>
      </dx-validator>

    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Пароль</div>
    <dx-text-box mode="password" [(value)]="user.password" placeholder="Пароль" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите пароль"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Подтверждение пароля</div>
    <dx-text-box mode="password" [(value)]="user.re_password" placeholder="Подтверждение пароля" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите пароль"></dxi-validation-rule>
        <dxi-validation-rule
          type="compare"
          [comparisonTarget]="passwordComparison"
          message="Пароль и подтверждение пароля не совпадают">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Наименование организации</div>
    <dx-text-box [(value)]="user.organization.name" placeholder="Наименование организации" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите наименование организации"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">ИНН организации</div>
    <dx-text-box [(value)]="user.organization.inn" placeholder="ИНН организации" width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите ИНН организации"></dxi-validation-rule>
        <dxi-validation-rule
          type="numeric"
          message="ИНН должен состоять только из цифр">
        </dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [min]="10" [max]="10"
                             message="Количество цифр должно быть 10"></dxi-validation-rule>
        <dxi-validation-rule
          type="async"
          message="У данной организации уже есть зарегистрированные пользователи"
          [validationCallback]="orgUsersCount">
        </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">ОГРН организации</div>
    <dx-text-box [(value)]="user.organization.ogrn" placeholder="ОГРН организации" width="100%">
      <dxi-validation-rule
        type="numeric"
        message="ОГРН должен состоять только из цифр">
      </dxi-validation-rule>
      <dxi-validation-rule type="stringLength" [min]="13" [max]="15"
                           message="Количество цифр должно быть 13 или 15"></dxi-validation-rule>
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите ОГРН организации"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Тип организации</div>
    <dx-select-box [(value)]="user.organization.type" placeholder="тип организации" [dataSource]="orgTypes"
                   displayExpr="text"
                   width="100%">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите тип организации"></dxi-validation-rule>
      </dx-validator>
    </dx-select-box>
  </div>
  <div class="dx-field">
    <dx-button type="normal" text="Создать учетную запись" width="100%" (onClick)="onRegisterClick($event)"></dx-button>
  </div>
  <div *ngIf="errors">
    <ul>
      <li *ngFor="let error of errors | keyvalue">{{ error.value }}</li>
    </ul>

  </div>
</dx-validation-group>
