/* You can add global styles to this file, and also import other style files */
.buttons-line > dx-button {

  margin-right: 10px;
}
.dx-scrollbar-horizontal .dx-scrollable-scroll {
  height: 13px !important;
}
.dx-scrollbar-horizontal.dx-scrollbar-hoverable {
  height: 13px !important;
  -webkit-transition: height .2s linear .15s,background-color .2s linear .15s;
  transition: height .2s linear .15s,background-color .2s linear .15s;
}


.content-block {
    margin-bottom: 5px !important;
}
.dx-datagrid-header-panel > .dx-toolbar > .dx-toolbar-items-container {
  height: 50px !important;

}

.dx-form-group-caption {
    font-size: 16px;
}
