<dx-form #form>
  <dxi-item
    dataField="creditOrganization"
    [template]="'creditOrganizationTemplate'">
    <dxo-label text="Кредитная организация">

    </dxo-label>
<dxi-validation-rule
        type="custom"
        [validationCallback]="isNotNull"
        message="Кредитная организации обязателна для заполнения">
      </dxi-validation-rule>
  </dxi-item>
  <div *dxTemplate="let data of 'creditOrganizationTemplate'">
    <dx-select-box [dataSource]="creditOrganizations" [displayExpr]="creditOrganizationDisplayExpr" class="dx-invalid"
                   searchEnabled="true" [value]="value" (valueChange)="creditOrganizationChange($event)">
      <dx-validator>

      </dx-validator>
    </dx-select-box>
  </div>
</dx-form>
